/* ------------------------------------------------------------ *
   Basic Elements
 * ------------------------------------------------------------ */

/* background and foreground */
body {
    background-color: #bee0ce; /* opal green */
    color: #56256e; /* grape */
    padding: 0 100px;
}

/* section header */
h2 {
    font-family: 'Inconsolata', sans-serif;
    font-weight: 700;
}

h3 {
    font-family: 'Inconsolata', sans-serif;
    font-weight: 700;
    font-size: 130%;
}

/* ------------------------------------------------------------ *
   Header
 * ------------------------------------------------------------ */

/* title */
h1 {
    font-size: 5em;
    font-family: 'Roboto Condensed', sans-serif;
    text-shadow: 3px 3px 3px #aaa;
    font-weight: 700;
    font-style: italic;
    margin-bottom: -5px;
}

/* subtitle */
#header div {
    font-size: 80%;
    background-color: #56256e;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-left: 1em;
    font-weight: 100;
    letter-spacing: 0.1em;
}

/* ------------------------------------------------------------ *
   Source
 * ------------------------------------------------------------ */

#source dd { margin-bottom: 1em; }
#source .source-names { padding-left: 1em; }

.file {
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.file input[type="file"] {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    font-size: 100px;
    cursor: pointer;
}

#form-upload-result-file {
    width: 50%;
}

/* ------------------------------------------------------------ *
   Operation
 * ------------------------------------------------------------ */

#operation h2 { display: none; }

/* ------------------------------------------------------------ *
   Message Log
 * ------------------------------------------------------------ */

#message-log .panel {
    background-color: black;
    color: white;
    font-family: 'Inconsolata', sans-serif;
    font-weight: 300;
}

#message-log pre {
    background-color: black;
    color: white;
    border-color: black;
}

#message-log .black  { color: black  }
#message-log .red    { color: red    }
#message-log .green  { color: green  }
#message-log .yellow { color: yellow }
#message-log .purple { color: purple }
#message-log .cyan   { color: cyan   }
#message-log .white  { color: white  }

/* ------------------------------------------------------------ *
   Alert
 * ------------------------------------------------------------ */

#alert-box {
    position: fixed;
    top: 1em;
    left: 0;
    right: 0;
    margin: 0 100px;
    display: none;
}

#alert-box .alert {
    margin: 0;
    opacity: 0.95;
}

/* ------------------------------------------------------------ *
   Job Status & Server Status
 * ------------------------------------------------------------ */

#status-box {
    position: fixed;
    right: 1em;
    top: 1em;
    font-size: 85%;
    opacity: 0.85;
    z-index: 100;
}

#status-box .box {
    padding: 0.5em 1em;
    border-radius: 3px;
    font-weight: 700;
    display: inline-block;
    box-shadow: 0 10px 6px -6px #777;
    border-style: solid;
    border-width: 1px;
}

#status-box div.good {
    background-color: #8EFF1C;
    border-color: #7c7;
}

#status-box div.bad {
    background-color: #FF1C60;
    border-color: #c77;
    color: #DEE;
}

#status-box div.unknown {
    background-color: #C78EFF;
    border-color: #77c;
}

#status-box button.inactive {
    background-color: #ccc;
    border-color: #77c;
}

#status-box button.active {
    background-color: #FF1C60;
    border-color: #c77;
    color: #DEE;
}

#follow-message-log {
    color: #333;
    text-shadow: 3px 3px 3px #aaa;
    background: none;
    border: none;
    display: inline-block;
}

#follow-message-log.follow {
    color: #d33;
}

/* ------------------------------------------------------------ *
   Footer
 * ------------------------------------------------------------ */

#footer .box {
    margin: 1em 0;
    padding: 0.5em 0;
    text-align: center;
    background-color: #add0bd;
    border-radius: 5px;
}

#footer h2 { display: none; }

#footer .info {
    text-align: right;
    font-size: 50%;
    color: #89589f;
}

