    <!-- Footer -->
    <section id="footer">
      <h2>Footer</h2>
      <div class="box">
	<span style="padding-right: 1em">PIONE Projects:</span>
	<div class="btn-group">
	  <a href="https://github.com/pione/pione" class="btn btn-xs btn-default">
	    <img src="https://raw.github.com/github/media/master/octocats/blacktocat-16.png"/> PIONE
	  </a>
	  <a href="https://github.com/pione/pione-webclient" class="btn btn-xs btn-default">
	    <img src="https://raw.github.com/github/media/master/octocats/blacktocat-16.png"/> PIONE Webclient
	  </a>
	</div>
      </div>
      <div class="info">This client is working with PIONE <%= Pione::VERSION %>.</div>
    </section>
